* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  user-select: none;
}

.inputText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 200px;
  height: 50px;
  color: white;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.options {

  position: absolute;
  width: 400px;
  height: 100vh;
  background-color: rgba(50, 73, 80, 0.88);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  transform: translateX(0px);
  transition: 1s ease-in-out;
  color: white;
  padding: 5px;

}

.options.show {
  transform: translate(-400px)
}


.showOptionsButton {
  position: absolute;
  z-index: 5;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
}

.selectCollectionButton {

  cursor: pointer;
}