* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.inputText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 200px;
  height: 50px;
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}